<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.utility.pvmanager.datasource">
      <datasource
            datasource="org.csstudio.utility.pvmanager.serial"
            name="Serial Datasource"
            prefix="serial">
      </datasource>
   </extension>

</plugin>
